@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dirty-roma: "Super-Ocean-Personal-Use", sans-serif;
  --font-helvetica: "Helvetica", sans-serif;
  --font-moncheri: "DFVN-TAN-MON-CHERI", sans-serif;
  --font-montserrat: "Montserrat-Regular", sans-serif;
  --font-1ftv-vip-boogo: "1FTV-VIP-Boogo", "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-dirty-roma: "Super-Ocean-Personal-Use", sans-serif;
    --font-helvetica: "Helvetica", sans-serif;
    --font-moncheri: "DFVN-TAN-MON-CHERI", sans-serif;
    --font-montserrat: "Montserrat-Regular", sans-serif;
    --font-1ftv-vip-boogo: "1FTV-VIP-Boogo", "Arial", sans-serif;
  }
}

/* helvetica */
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* moncheri */
@font-face {
  font-family: "DFVN-TAN-MON-CHERI";
  src: url("./fonts/moncheri/DFVN-TAN-MON-CHERI.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* montserrat */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* montserrat */
@font-face {
  font-family: "1FTV-VIP-Boogo";
  src: url("./fonts/1FTV-VIP-Boogo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 0%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 0%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 0%;
    --chart-3: 0 0% 0%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 0%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 0%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 0%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 0%;
    --chart-3: 0 0% 0%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 0%;
  }
}

@keyframes stretch {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.stretch-animation {
  animation: stretch 3s infinite;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.updown-animation {
  animation: updown 2s ease-in-out infinite;
}

@keyframes rotate-hold {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-hold-animation {
  animation: rotate-hold 3s infinite;
}

.delay-0 {
  animation-delay: 0s;
}
.delay-1 {
  animation-delay: 0.2s;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Background clip text fallback */
@supports not (background-clip: text) {
  .bg-clip-text-fallback {
    background: none !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    text-fill-color: white !important;
  }
}
